*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url('imgsForH/bgLogin.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

header {
  width: 100%;
  height: 90px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}

.heading{
    display: none;
}

.logostyle{
  height: 70px;
  width: 70px;
}

.logostyle:hover {
transform: scale(1.2); 
transition: all 0.3s ease-in-out; 
} 


.nav-bar{
  margin: auto;
}

.hamburger{
  display: none;
}

.nav-bar ul {
  display: flex;
}

.nav-bar ul li a {
  display: block;
  color: #fefefe;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
}

.nav-bar ul li a:hover{
  color: #11101b;
  background: #fefefe;
}

.login ul li a{
border: 1px solid white;
text-decoration: none;
display: inline-block;
color: #fefefe;
font-size: 20px;
padding: 10px 25px;
transition: 0.2s;
margin: 0px;
}

.login ul li a:hover{
  color: #11101b;
  background: #fefefe;
}

.box div{
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #2a34de;
  border: 2px solid rgba(255, 255, 255, 0.5);
   box-shadow: 0 0 1.5em gray;
   top: 40%;
  left: 12%;
  animation: animate 10s linear infinite;
  border-radius: 30%;
}

.box div:nth-child(1){
  top: 20%;
  left: 15%;
  animation: animate 10s linear infinite;
}

.box div:nth-child(2){
  top: 97%;
  left: 40%;
  animation: animate 7s linear infinite;
}

.box div:nth-child(3){
  top: 42%;
  left: 5%;
  animation: animate 7s linear infinite;
}

.box div:nth-child(4){
  top: 22%;
  left: 84%;
  animation: animate 10s linear infinite;
}

.box div:nth-child(5){
  top: 75%;
  left: 8%;
  animation: animate 6s linear infinite;
}

.box div:nth-child(6){
  top: 97%;
  left: 75%;
  animation: animate 12s linear infinite;
}

.box div:nth-child(7){
  top: 80%;
  left: 86%;
  animation: animate 15s linear infinite;
}

.box div:nth-child(8){
  top: 56%;
  left: 18%;
  animation: animate 7s linear infinite;
}

.box div:nth-child(9){
  top: 95%;
  left: 20%;
  animation: animate 9s linear infinite;
}

.box div:nth-child(10){
  top: 47%;
  left: 88%;
  animation: animate 5s linear infinite;
}


.box div:nth-child(11){
  top: 76%;
  left: 53%;
  animation: animate 10s linear infinite;
}

.box div:nth-child(12){
  top: 20%;
  left: 43%;
  animation: animate 7s linear infinite;
}

.box div:nth-child(13){
  top: 102%;
  left: 60%;
  animation: animate 7s linear infinite;
}

.box div:nth-child(14){
  top: 30%;
  left: 70%;
  animation: animate 10s linear infinite;
}

.box div:nth-child(15){
  top: 72%;
  left: 27%;
  animation: animate 6s linear infinite;
}

.box div:nth-child(16){
  top: 100%;
  left: 95%;
  animation: animate 7s linear infinite;
}

.box div:nth-child(17){
  top: 36%;
  left: 25%;
  animation: animate 10s linear infinite;
}

.box div:nth-child(18){
  top: 63%;
  left: 75%;
  animation: animate 6s linear infinite;
}

@keyframes animate{
  0%{
    transform: scale(0) translateY(0) rotate(0);
    opacity: 2;
  }
  100%{
    transform: scale(1.3) translateY(-30px) rotate(360deg);
    opacity: 2;
  }
}


section{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  width: 100%;
}

.form-box{
    position: relative;
    width: 400px;
    height: 550px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;

}

h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.inputbox{
    position: relative;
    margin-top: 40px;
    width: 310px;
    border-bottom: 2px solid #fff;
}

.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

input:focus ~ label, input:valid ~ label{
                           top: -5px;
                         }

.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #fff;
}

.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}

button{
    width: 100%;
    height: 40px;
    margin-top: 50px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    box-shadow: 0 0 5px cyan, 0 0 25px cyan;
}

button:hover{
    box-shadow: 0 0 5px cyan, 
    0 0 25px cyan, 0 0 50px cyan, 
    0 0 100px cyan, 0 0 200px cyan;
}

.register p{
    font-size: 1.2em;
    color: #fff;
    text-align: center;
    margin-top: 50px;
}

.register p:hover{
    cursor: pointer;
  color: white;
  text-shadow: 0 0 5px cyan, 
  0 0 25px cyan, 0 0 50px cyan, 
  0 0 100px cyan, 0 0 200px cyan;
  transition: 0.8s;
}


.footer{
padding: 60px;
background-color: white;
background: rgba(0, 0, 0, 0.5);
height: 45vh;
}

.footer .social{
text-align: center;
padding-bottom: 25px;
color: gray;
}

.footer .social a{
font-size: 24px;
color: inherit;
border: 1px solid white;
width: 40px;
height: 40px;
line-height: 38px;
display: inline-block;
text-align: center;
border-radius: 50%;
margin: 0 8px;
opacity: 1;
}

.footer .social a:hover{
opacity: 1;
}

.footer ul{
margin-top: 0;
padding: 0;
list-style: none;
font-size: 18px;
line-height: 1.6;
margin-bottom: 0;
text-align: center;
}

.footer ul a{
text-decoration: none;
display: inline-block;
color: #fefefe;
font-size: 20px;
padding: 10px 25px;
transition: 0.2s;
margin: 0px;
}

.footer ul li{
display: inline-block;
padding: 0 15px;
}

.footer ul li a:hover{
color: #11101b;
background: #fefefe;
}

.footer .copyright{
margin-top: 15px;
text-align: center;
font-size: 13px;
color: #aaa;
}

.fa-facebook:hover {
transform: scale(1.2); 
transition: all 0.5s ease-in-out; 
color: #1094f4;
}

.fa-youtube:hover {
  transform: scale(1.2); 
  transition: all 0.5s ease-in-out; 
  color: red;
  }

.fa-twitter:hover {
  transform: scale(1.2); 
  transition: all 0.5s ease-in-out; 
  color: lightblue;
  } 

.fa-discord:hover {
  transform: scale(1.2); 
  transition: all 0.5s ease-in-out; 
  color: #7289d9;
  } 

@media only screen and (max-width: 1320px){
.logostyle{
  height: 70px;
  width: 70px;
  margin-left: -55px;
}

/*.heading{
    display: flex;
    font-size: 11px;
    margin-left: 10px;
    color: transparent;
    text-transform: uppercase;
    background-image: linear-gradient(to left, white, gray, lightblue, blue);
    -webkit-background-clip:text;
    cursor: pointer;
}

    .hamburger {
      display: none;
  }
  
  .hamburger .line {
    display: none;
  }

  .nav-bar{
    display: none;
}

.login{
    display: none;
}*/

.footer{
    margin-top: 40px;
    padding: 100px 10px;
    background-color: black;
    opacity: 0.8;
    height: 60vh;
  }

  .footer ul li{
   display: inline-block;
   padding: 20px;
  }
  }

@media only screen and (max-width: 1120px){ 
    .logostyle{
  height: 70px;
  width: 70px;
  margin-left: -55px;
}

.heading{
    display: flex;
    font-size: 11px;
    margin-left: 10px;
    color: transparent;
    text-transform: uppercase;
    background-image: linear-gradient(to left, white, gray, lightblue, blue);
    -webkit-background-clip:text;
    cursor: pointer;
}

    .hamburger {
      display: none;
  }
  
  .hamburger .line {
    display: none;
  }

  .nav-bar{
    display: none;
}

.login{
    display: none;
}

.footer{
    margin-top: 40px;
    padding: 100px 10px;
    background-color: black;
    opacity: 0.8;
    height: 60vh;
  }

  .footer ul li{
   display: inline-block;
   padding: 20px;
  }
}

@media only screen and (max-width: 900px) {

body{
background-image: url('imgsForH/bgForLogin.png');
background-attachment: fixed;
background-size: 100% 99%;
}

.logostyle{
  height: 70px;
  width: 70px;
  margin-left: -55px;
}

.heading{
    display: flex;
    font-size: 11px;
    margin-left: 10px;
    color: transparent;
    text-transform: uppercase;
    background-image: linear-gradient(to left, white, gray, lightblue, blue);
    -webkit-background-clip:text;
    cursor: pointer;
}

    .hamburger {
      display: none;
  }
  
  .hamburger .line {
    display: none;
  }

  .nav-bar{
    display: none;
}

.login{
    display: none;
}


.footer{
    height: 350px;
    padding-top: 60px;
    line-height: 70px;
    }  
}

@media only screen and (max-width: 716px){
    .logostyle{
  height: 70px;
  width: 70px;
  margin-left: -55px;
}
  
.wrapper{
    display: none;
}

.heading{
    display: flex;
    font-size: 11px;
    margin-left: 10px;
    color: transparent;
    text-transform: uppercase;
    background-image: linear-gradient(to left, white, gray, lightblue, blue);
    -webkit-background-clip:text;
    cursor: pointer;
}

    .hamburger {
      display: none;
  }
  
  .hamburger .line {
    display: none;
  }

  .nav-bar{
    display: none;
}

.login{
    display: none;
}

.footer{
    height: 70vh;
    padding-top: 60px;
    line-height: 70px;
    } 

}


@media only screen and (max-width: 650px){
    .logostyle{
  height: 70px;
  width: 70px;
  margin-left: -55px;
}
  
.wrapper{
    display: none;
}

.heading{
    display: flex;
    font-size: 11px;
    margin-left: 10px;
    color: transparent;
    text-transform: uppercase;
    background-image: linear-gradient(to left, white, gray, lightblue, blue);
    -webkit-background-clip:text;
    cursor: pointer;
}

    .hamburger {
      display: none;
  }
  
  .hamburger .line {
    display: none;
  }

  .nav-bar{
    display: none;
}

.login{
    display: none;
}

  .footer{
    margin-top: 40px;
    padding: 100px 10px;
    background-color: black;
    opacity: 0.8;
    height:70vh;
  }

  .footer ul li{
   display: inline-block;
   padding: 20px;
  }
}

@media only screen and (max-width: 617px){
    .logostyle{
  height: 70px;
  width: 70px;
  margin-left: -55px;
}
  
.wrapper{
    display: none;
}

.heading{
    display: flex;
    font-size: 11px;
    margin-left: 10px;
    color: transparent;
    text-transform: uppercase;
    background-image: linear-gradient(to left, white, gray, lightblue, blue);
    -webkit-background-clip:text;
    cursor: pointer;
}

    .hamburger {
      display: none;
  }
  
  .hamburger .line {
    display: none;
  }

  .nav-bar{
    display: none;
}

.login{
    display: none;
}

.footer{
    margin-top: 40px;
    padding: 100px 10px;
    background-color: black;
    opacity: 0.8;
    height: 75vh;
  }

  .footer ul li{
   padding: 20px;
  }
}
